body {
  background-color: rgb(203, 212, 253);
  
}

.profile-photo {
  width: clamp(100px, 40vw, 600px);
  max-width: 100%;
  margin: 10rem ;
  height: auto;
  display: block;
  border: 0.2vw solid rgb(113, 149, 239);
  border-radius: 40px;
  object-fit: cover;
  ;
}

#toru {
  font-family: "Miltonian", serif;
  font-weight: 5000;
  font-style: normal;
  border-bottom: dashed 4px rgb(18, 42, 255);
  padding-left: 2vw ;
  font-size: clamp(10px, 8vw, 100px);
  color: rgb(3, 104, 192);
  border-left: solid 2vw;
  padding-top: 4vh;
  padding-bottom: 0;
  line-height: 1;
  margin: 0;
}

.about {
  /* background-color:rgb(204, 211, 246) ; */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.about h2 {
  color: rgb(3, 63, 214);
  border-bottom: dashed 3px rgb(115, 153, 250);
  text-align: center;

}

#google {
  transition: 300ms;
  
}
#google:hover {
  color: rgb(176, 19, 255);
  font-size: 1.1em;
  
}

.header {
  display: flex;
  /* align-items: center; */
  margin-left: 1vw;
  /* background-color: rgb(219, 225, 255); */
}

.intro {
  flex-grow: 1;
  margin-right: 20px;
}

.my-info {
  margin-left: 5em;
  margin: 0 auto;
  max-width: 600px;
}

.my-info .profile {
  color: rgb(3, 63, 214);
}

.my-info h2 {
  margin-bottom: 0px;
  color: rgb(3, 63, 214);
  /* padding: 0.5em; */
}
.my-info p {
  line-height: 0.75;
  
}

.progress {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 4px;
  background-color: rgb(28, 81, 240);
  transform-origin: 0 0;
  animation-name: progress;
  animation-timing-function: linear;
  animation-timeline: scroll(root);
}
@keyframes progress {
  0% {
    scale: 0 1 1;
  }
  100% {
    scale: 1 1 1;
  }
}


.page_bottom {
  background-color: rgb(221, 235, 249);
}