body {
    background-color: rgb(205, 217, 255);
}

#hero {
    display: flex;
   align-items: center;
    justify-content: center;
    gap: 200px;
}

#name {
    color: #306F91;
    font-size: 100px;
}

#name-container h3 {
    color: #306F91;
    font-size: 30px;
    border-bottom: solid 3px;
}

.heading {
    color: #306F91;
    font-size: 50px;
    border-bottom: dashed 3px;
    padding-left: 1em;
}

p , ul {
  font-size: 20px;
  padding-left: 10em;
}